<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '../../static/weather/style.css' %} ">
    <style>@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');</style>
</head>
<body>
<div id="wrapper">
<div id="banner">
    <h1 id="bannerText">Weather App</h1>
    {% load static %}
    <img id="bannerIcon" src="{% static '../../static/weather/weatherIcon.png' %}" alt="clouds and sun">
</div>
<div id="searchbar">
<form method="POST" id="searchWindow">
    {% csrf_token %}
    <div class="has-addons">
        <div class="is-expanded">
            {% load static %}
            <button id="searchBut" onclick=""><img id="searchIcon" src="{% static '../../static/weather/searchIcon.png' %}" alt="magnifying glass"></button>
            <label>
                {{form.name}}
            </label>
        </div>
    </div>
</form>

</div>
    <div id="box">
    <article id="media">
        <div id="flow">
            <div id="media-left">
                <figure id="image is-50x50">
                    <img src="https://openweathermap.org/img/w/{{ weather.icon }}.png" alt="Image">
             </figure>
            </div>
            <div id="media-content">
            <h5 id="title">{{weather.city}}</h5>
            </div>
        </div>
        <div id="media-center">
            <p class="subtitle">{{ weather.temperature }}° F</p>
            <p class="subtitle"> {{ weather.description }}</p>
        </div>
        </article>
    </div>
</div>
</body>
</html>
